body {
    background-color: rgb(245, 243, 255);
    font-family: "Quicksand", sans-serif;
}

button:focus {
    outline: none;
}

input[type="file" i] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
